:root {
    --primary-color: rgba(0, 77, 0, 0.8);
    --secondary-color: #d4af37; /* Gold color for clocks */
    --text-color: #003300;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --border-radius: 8px;
    --image-width: 600px; /* Width of the first image */
    --image-height: 400px; /* Height of the first image */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #004d00, #003300);
    color: var(--secondary-color);
    overflow-x: hidden;
    text-align: center; /* Center everything */
}

section {
    margin: 10px 0;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.about-image, .book-image, .certificate-image {
    max-width: 100%;
    height: auto; /* Adjusts height automatically to maintain aspect ratio */
    border-radius: var(--border-radius);
}

.my-book-section, .world-clock-section, .about-section, .certificate-section {
    background-color: var(--primary-color);
}

.book-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 15px;
}

.book-link:hover {
    background-color: lighten(var(--secondary-color), 10%);
}

.clocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.clock {
    padding: 15px;
    background-color: var(--secondary-color); /* Gold background for clocks */
    color: var(--text-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 200px
}